*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img{
    max-width: 35%;
    max-height: 35%;
    border-radius: 10px;
}
.movieContainer:hover{
    transform: scale(1.05);
}
.container{
    max-width: 90%;
    margin:auto;
}
header{ 
    background: #000000;
    color: white;
    overflow: hidden;
}

.item-end{
    float: right;
    margin-left: 15px;
}